.portfolio {
  margin-top: 120px;
  min-height: 80vh;
  padding-bottom: 50px;
}
.portfolio .content {
  color: #2c3e50;
}
.portfolio .line {
  height: 4px;
  width: 80px;
  background-color: #2c3e50;
}
.portfolio .card {
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}
.portfolio .card img {
  border-radius: 10px;
}
.portfolio .layer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #1abc9ce6;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .6s opacity;
}
.portfolio .card:hover .layer {
  opacity: 1;
}
.imgClick {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

